In [12]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from plottable import ColumnDefinition, Table
from plottable.cmap import normed_cmap
from plottable.plots import image
import requests

In [13]:
url = 'https://fbref.com/en/comps/10/keepers/Championship-Stats#all_stats_keeper'
response = requests.get(url).text.replace('<!--', '').replace('-->', '')
df_keeper = pd.read_html(response, header = 1)[2]
df_keeper = df_keeper[df_keeper['Rk'] != 'Rk']
df_keeper = df_keeper[df_keeper['Squad'] == 'Norwich City'].reset_index(drop = True)

In [14]:
url = 'https://fbref.com/en/comps/10/keepersadv/Championship-Stats#all_stats_keeper_adv'
response = requests.get(url).text.replace('<!--', '').replace('-->', '')
df_keeper_adv = pd.read_html(response, header = 1)[2]
df_keeper_adv = df_keeper_adv[df_keeper_adv['Rk'] != 'Rk']
df_keeper_adv = df_keeper_adv[df_keeper_adv['Squad'] == 'Norwich City'].reset_index(drop = True)
df_keeper_adv = df_keeper_adv.drop(['Rk','Nation','Pos','Squad','Age','Born','Matches','90s'], axis = 1)

In [15]:
df = pd.concat([df_keeper, df_keeper_adv], axis = 1)

In [16]:
url = 'https://fbref.com/en/comps/10/passing/Championship-Stats#all_stats_passing'
response = requests.get(url).text.replace('<!--', '').replace('-->', '')
df_passing = pd.read_html(response, header = 1)[2]
df_passing = df_passing[df_passing['Rk'] != 'Rk']
df_passing = df_passing[df_passing['Squad'] == 'Norwich City']
df_passing = df_passing[df_passing['Pos'] == 'GK'].reset_index(drop = True)
df_passing = df_passing.drop(['Rk','Nation','Pos','Squad','Age','Born','Matches','90s'], axis = 1)

In [17]:
df = pd.concat([df, df_passing], axis = 1)

In [18]:
df

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Cmp%.3,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP
0,19,Angus Gunn,sct SCO,GK,Norwich City,28-095,1996,38,38,3360,...,44.9,0,0.0,0.0,0.0,0,13,0,0,1
1,29,George Long,eng ENG,GK,Norwich City,30-173,1993,7,6,600,...,19.0,0,0.0,0.0,0.0,0,0,0,0,0